<!doctype html>
<head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/combine/npm/purecss@1.0.1/build/base-min.css,npm/purecss@1.0.1/build/grids-min.css,npm/purecss@1.0.1/build/forms-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<html>
<body>

    <br><br>


<div class="container">

    <div class="col-sm-2"></div>

    <div class="col-sm-8">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>OCLC#</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Item Type</th>
                    <th>Publisher</th>
                </tr>
            </thead>
        
            <tbody>
                <caption> Religion and Language </caption>
                {% for l in religion_lines %}
                <tr>
                    <td> {{ l[0] }} </td>
                    <td>
                        <a href="https://www.worldcat.org/oclc/{{l[0]}}" > {{ l[1] }} </a>
                    </td>
                    <td> {{ l[2] }} </td>
                    <td> {{ l[4] }} </td>
                    <td> {{ l[6] }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>OCLC#</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Item Type</th>
                    <th>Publisher</th>
                </tr>
            </thead>
            <tbody>
                <caption> Computer Science and Mathematics </caption>
                {% for l in cs_lines %}
                <tr>
                    <td> {{ l[0] }} </td>
                    <td>
                        <a href="https://www.worldcat.org/oclc/{{l[0]}}" > {{ l[1] }} </a>
                    </td>
                    <td> {{ l[2] }} </td>
                    <td> {{ l[4] }} </td>
                    <td> {{ l[6] }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-sm-2"></div>
</div>

</body>
</html>
